<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Documents</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <h1>All Documents</h1>

        <p>
            <a href="/docEdit" th:href="@{/docEdit}">Create</a>
        </p>

        <table class="table" border="2">
            <thead>
                <tr>
                    <th>Id Document</th>
                    <th>Nom Document</th>
                    <th>Description Document</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="document : ${allDocs}">
                    <td th:text="${document.id_doc}"></td>
                    <td th:text="${document.nom_doc}"></td>
                    <td th:text="${document.description_doc}"></td>
                    <td>
                        <a href="/docEdit" th:href="@{/docEdit/__${document.id_doc}__}">Edit</a>
                        <a href="/docDelete" th:href="@{/docDelete/__${document.id_doc}__}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>