<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">

        <h1>Document</h1>

        <form class="form-group" action="/docEdit" th:action="@{/docEdit}" method="post">
            <input th:type="hidden" name="id_doc" th:field="${document.id_doc}" />
            <div class="form-group">
                <label for="title">Nom Document</label>
                <input type="text" class="form-control" id="nom_doc" th:field="${document.nom_doc}" />
            </div>
            <div class="form-group">
                <label for="content">Description Document</label>
                <textarea class="form-control" id="description_doc" th:field="${document.description_doc}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a>
        </form>

    </div>

</body>
</html>